{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="d-flex flex-column">
            <div class="row justify-content-center">
                <h1 class="font-weight-light mt-4 align-content-center">Change your password</h1>
            </div>
            <div class="row justify-content-center">
                <div class="alert alert-success mt-4" role="alert">
                    Your password has been updated successfully!
                </div>
            </div>
            <div class="row justify-content-center">
                <p>Return <a href="{% url 'home' %}">home</a></p>
            </div>

        </div>
    </div>
{% endblock %}