{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <form method="POST" class="form-signin">
            {% csrf_token %}
            <div class="row justify-content-center">
                <h1 class="font-weight-light mt-4 align-content-center">Reset your password</h1>
            </div>
            <div class="row justify-content-center">
                <div class="col-6">
                    <div class="row justify-content-center mt-4">
                        <input name="email" class="form-control" placeholder="Email address" type="email" id="id_email" required="true">
                    </div>
                    <div class="row justify-content-center mt-4">
                        <button class="btn btn-success" type="submit">Send email</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
{% endblock%}