{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="d-flex flex-column">
            <div class="row justify-content-center">
                <h1 class="font-weight-light mt-4 align-content-center">Reset your password</h1>
            </div>
            <div class="row justify-content-center">
                <p class="m-auto p-2">
                    We've emailed you the instructions for setting a new password, if an account exists with the email you entered.
                </p>
            </div>
            <div class="row justify-content-center">
                <p class="m-auto p-2">
                    If you don't receive an email, please make sure you've entered the address you registered with,
                    and check your spam folder.
                </p>
            </div>
            <div class="row justify-content-center">
                <p class="m-auto p-2"><a href="{% url 'home' %}">Return to home page</a></p>

            </div>
        </div>
    </div>

{% endblock %}