{% autoescape off %}
    A request has been received to change the password to your eCards Account.
    To initiate the password reset process for your Account {{ user.email }},
    click the link below:

    {{ protocol }}://{{ domain }}{% url 'user_management:reset_password_confirm' uidb64=uid token=token %}

    If clicking the link above doesn't work, please copy and paste the URL in a new browser
    window instead.

    If you didn't initiate this request, then you can just ignore this email (your password will not change)

    Thank you,
    eCards Team
{% endautoescape %}